<h1>Listing current Trello cards:</h1>

<br>
<div class="panel-default">
  <table class="table-striped custom-stripe table-bordered custom-border sortable" width="80%" align="center">
    <tr>
      <th width="30%">Card ID</th>
      <th width="35%">Card Name</th>
      <th width="35%">Current Swimlane Name</th>
    </tr>

    <% @cards.each do |card| %>
        <tr>
          <td><%= card.id %></td>
          <td><%= card.name %></td>
          <td><%= card.list_name %></td>
        </tr>
    <% end %>
  </table>
  <br>
  </div>
