<h1>Listing current Trello cards:</h1>

<br>
<div class="panel-default">
  <table class="table-striped custom-stripe table-bordered custom-border sortable" width="80%" align="center">
    <tr>
      <th width="30%">Card Name</th>
      <th width="35%">Current Swimlane Name</th>
      <th width="35%">Date Placed in Resumes Swimlane</th>
    </tr>

    <% if @cards.present? %>
        <% @cards.each do |card| %>
        <tr>
          <td><%= card.name %></td>
          <td><%= card.list_name %></td>
          <td><%= card.start_date %></td>
        </tr>
        <% end %>
    <% else %>
      <p> No cards. </p>
    <% end %>
  </table>
  <br>
</div>
